<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="public/custom.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  <script type="text/javascript" src="public/application.js"></script>
</head>
<body>
  <!-- WHOLE NAVBAR FUNCTIONALITY -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- NAVBAR AFTER COLLASPSE -->
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle collapsed">
          <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
          </button>

          <button type="button" class="navbar-toggle collapsed">
          <a href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
          </button>

          <button type="button" class="navbar-toggle collapsed">
          <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </button>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#left-items" aria-expanded="false" aria-controls="navbar">
           <span>More</span>
           <span class="caret"></span>
            
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#followbar" aria-expanded="false" aria-controls="navbar">
           <span>Follow</span>
           <span class="caret"></span>
          </button>
          
          <a class="navbar-brand" href="#">
            <img src="/public/assets/v_logo_2.png" data-id="logo"  width="auto" height="300%">
          </a>
        </div>
        <!-- NAVBAR BEFORE COLLAPSE -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left" id:"left-items">
            <li><a href="#">HOW IT WORKS</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">PARTNERSHIPS</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">MORE <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Community</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">Advertisers</a></li>
                <li><a href="#">Publishers</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><strong>USERNAME </strong><input class="memberuserName" ></li>
            <li><strong>PASSWORD? </strong><input class="memberpassword" ></li>
            <li><button class="submit">LOG IN</button></li>
            <li id="memberSection"><a href="#">NOT A MEMBER?<a></li>
          </ul>
        </div>
      </div>
</nav>

  <!-- member sign up section -->
<div class="container-fluid">
  <div class="row">
    <section class="col-xs-12 nonMember_wrapping">
      <h3>Welcome to Vala!</h3>
      <p>Just a few more steps to your best parking experience! Please fill in your details</p>  
      
      <div class="col-xs-4">
        <input class="col-xs-offset-1 col-xs-7" id="firstName" type="text" placeholder="First Name..."> 
      </div> 

      <div class="col-xs-4">
        <input class="col-xs-offset-1 col-xs-7" id="lastName" type="text" placeholder="Last Name..."> 
      </div>

      <div class="col-xs-4">
        <input class="col-xs-offset-1 col-xs-7" id="userName" type="text" placeholder="Username..."> 
      </div>

      <div class="col-xs-4">
        <input class="col-xs-offset-1 col-xs-7" id="email" type="text" placeholder="Email..."> 
      </div>

      <div class="col-xs-4">
        <input class="col-xs-offset-1 col-xs-7" id="password" type="text" placeholder="Password..."> 
      </div>

      <div class="col-xs-4">
        <button class="col-xs-offset-1 col-xs-7 signUp"><strong>Valet please!</strong></button> 
      </div>

    </section>
  </div>
</div>

  <div class="slider">

      <div class="slide active-slide">
        <div class="container">
          <div class="row">
            <div class="slide-para col-xs-5">
              <h1>Vala! You drive and we take care of the rest!</h1>
              <p>We are an on-demand valet parking service which also offer you a comprehensive and personalised service. We are an on-demand valet parking service which also offer you a comprehensive and personalised service.We are an on-demand valet parking service which also offer you a comprehensive and personalised service.</p>
              
              <ul class="get-app list-unstyled">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
              </ul>
            </div>
            <div class="slide-img col-xs-7">
              <img src="/public/assets/valet_slide_4.jpg" width="540px">
            </div>
          </div>
        </div>      
      </div>

      <div class="slide slide-main">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="#">Arrange Vala's valet servce at your fingertips.</a>
            </div>
            
          </div>
        </div>      
      </div> 

      <div class="slide slide-team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="#">professional team</a>
            </div>
            
          </div>
        </div>      
      </div>

      <div class="slide slide-carParks">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="#">secure car parks</a>
            </div>
            
          </div>
        </div>      
      </div>  

      <div class="slide slide-insurance">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="#">insurance</a>
            </div>
            
          </div>
        </div>      
      </div>

      <div class="slide slide-DYH">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="#">We even drive you home</a>
            </div>
            
          </div>
        </div>      
      </div>


      

  </div>

    <div class="slider-nav">
      <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
    </div> 

<!--thumbnails --> 

<div class="container-fluid">
  <div class="row">
    <section class="col-xs-12 thumbnails">
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-4">
        <img src="/public/assets/v_logo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

  </div>
</div>

</body>
</html>